#tablee{
    background-color: #0007;
    padding: auto;
    width: 85%;
}
table th{
    padding-top: 4%;
    padding-bottom: 4%;
    color: white;
    font-size: 150%;


}

table td{

    color: lemonchiffon;

}
table td:hover{

    color: lightblue;
}


i{
    padding: 2%;
    color: orange;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }



  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 33px;
    margin-top: 360px;
    color: #fff;
    background-color: #252626;
    background-color: #0005;

    
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
    }
    
    h4 {
    font-weight: 400;
    font-size: 15px;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: #999;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
    .b-footer {
    text-align: center;
    color:blue;
    padding-top: 50px;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }

    .bt2
    {
        margin-top: 3px;
        padding:7px;
        width: 8%;
        background-color:yellow;
        cursor: pointer;  
    }
 i{
     color: crimson;
     size: 10px;
 }
 i:hover{
     color: burlywood;
 }
    
.bt2:hover{
    background-color: coral;
}

    
#main{

    width: auto;
    height: 1700px;
    background-image: url(background1.jpg); 
    background-repeat: no-repeat;
    padding-bottom: 100%;
    background-size: cover;
    text-align: center; 
}

nav{
    width: 100%;
    height: 80px;
    background-color: #0001;
    line-height: 80px;
    position: fixed;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li:hover{
    background-color: burlywood;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 13px;
}



input[type=search]{
    width: 40%;
    box-sizing: border-box;
    padding: 12px 5px;
    background-color: #0007;
    color: #fff;
    outline: none;
    border: none;
    margin: 5px;
    font-weight: bold;
    margin-top: -8%;
    background-color: none;
} 